
@import url(https://fonts.google.com/specimen/Source+Code+Pro);

div{
    border: 1px solid red;
}

.backgroundSite{
    background-repeat: repeat;
    background-image:initial;
    background-size:auto;
}

.main {
    margin: auto;
    min-width: 500px;
    max-width: 1000px;
    background-color:aliceblue;
    font-family:
}

.headerLayout{
    display: grid;
    grid-template-columns: 7% 11% 20% 21% 13% 13% 10%;     /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    */ 
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid black;
    width: auto;

}


.headerLayout a {
    text-decoration: none;
    color: black;
    padding: 4px 20px 4px 20px;
    /*    top  right bottom left */
}

.headerLayout a:hover {
    color: white;
    background-color: green;
    border-radius: 10px;

}

.headerLayout a:active{
    background-color: lightblue;
}

.headerLayout .selected{
    background-color: lightgreen;
    border-radius: 25px;
    
}

.logo{
    width: 40px;
    display: inline;
}


.texteExplication{
    font-size:large;
    padding-top: 215px;
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, purple, maroon);
}

.titreDePage{
    text-align: center;
}


.logo{
    display:inline;
    width: 40px;
}

.vidéoAjusté{
    width: 100%;
    height: 400px;
}

.animationDuSite{
/*
Mettre une animation pour le titre du site. Pas quelque
Chose de trop dramatique. Genre une petite couleur
nothing more.
*/
}

.texteAjusté{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}