
@import url('https://fonts.googleapis.com/css?family=Sono');





.backgroundSite{
    background-repeat: repeat;
    background-image:initial;
    background-size:auto;
}

.main {
    margin: auto;
    min-width: 500px;
    max-width: 1000px;
    background-color:lavender;
    font-family:
}

.headerLayout{
    display: grid;
    grid-template-columns: 7% 11% 20% 21% 13% 13% 10%;     /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    */ 
    gap: 5px;
    align-items: center;
    border-bottom: 2px solid black;
    width: auto;

}


.headerLayout a {
    text-decoration: none;
    color: black;
    padding: 4px 20px 4px 20px;
}

.headerLayout a:hover {
    color: white;
    background-color: purple;
    border-radius: 10px;

}

.headerLayout a:active{
    background-color: lightblue;
}

.headerLayout .selected{
    background-color: lightcoral;
    border-radius: 25px;
    
}

.logo{
    width: 40px;
    display: inline;
}

body{
    background-image: linear-gradient(to left, #3a1c71 , #d76d77 , #ffaf7b);
}

.titreDePage{
    text-align: center;
    font-family:'Sono';
}


.logo{
    display:inline;
    width: 40px;
}

.médiaAjusté{
    width: 50%;
    height: 300px;
    margin-left: 25%;
}

.photoAjusté{
    width: 70%;
    height: 350px;
    margin-left: 15%;
}

.médiaAjustéAcceuil{
    width: 100%;
    height: 350px;
}

.texteAjusté{
    text-align: justify;
    padding: 15px 15px 15px 15px;
    font-size: large;
}